/* carrosel */



.carrosel{
    display: flex;
}

.carrosel p{
    margin: 0;
}

.carrosel .slide{
    font-weight: 700;
    margin: 0;
    display: none;
    flex-direction: column;
    justify-content: end;
    height: 400px;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border-radius: 20px;
    gap: 2px;
}

.carrosel .slide span{
    display: inline-block; 
    background-color: red;
    padding: 2px 6px;
    border-radius: 15px;
    align-self: flex-start;
}


.carrosel .slide.selecionado{
    display: flex;
}


