:root {
    --principal:  #141e30f2;
    --secudario: #2c3e50; 
    --terciario: #141930f2;
    --fonte: #ffffff;
    --fonte1: #012677;
    --transparente:  #3498db83;
    --destaque: red;
    --destaque1: rgb(252, 159, 54);
    --sombra: 0 4px 6px #0000001a;
    --borda: 2px solid #3498db4d;
    --borda1: 1px solid #012677;
    --background: linear-gradient(135deg, #1a2a3a 0%, #0d1b2a 100%);
}
:root1{
    --principal:  #3e5954;
    --secudario: #5e9188; 
    --terciario: #274e43;
    --fonte: #ffffff;
    --fonte1: #253342;
    --transparente:  #5e9188c2;
    --destaque: red;
    --sombra: 0 4px 6px #0000001a;
    --borda: 2px solid #253342;
    --borda1: 1px solid #ffffff;
}


/*Geral*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    
}

button{
    background: none;
    border: none;          
    padding: 0;            
    margin: 0;  
    color: var(--fonte);
    font-size: x-large;
}

.btn-outline {
    border-color: var(--transparente);
    color: var(--transparente);
    font-weight: 600;
    margin-top: auto;
    width: 120px;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin: 0;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin: 0;
}

::-webkit-scrollbar {
    width: 8px; /* largura da barra */
  }
  ::-webkit-scrollbar-track {
    background: transparent; /* sem fundo */
  }
  ::-webkit-scrollbar-thumb {
    background: #888; /* cor do "botãozinho" */
    border-radius: 10px;
  }

/* Corpo */
.cabecario-sessao {
        display: flex;
        justify-content:space-between;
    }


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background);
}


/*Cabeçario */

header{
    display: flex;
    width: 100%;
    background: var(--principal);
    min-height: 70px;
}

header nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2%;
    border-bottom: var(--borda);
    
}



nav a{
    text-decoration: none;
    color:var(--fonte);
    position: relative;
    transition: 0.3s;
}

.conter-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    backdrop-filter: blur(10px);
} 

.conter-nav  .bola:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--destaque1);
    transition: width 0.5s;
}

.conter-nav a:hover{
    color:var(--destaque1);
}

.conter-nav a:hover:after,
.conter-nav a:active:after {
    width: 100%;
}

.icon-botton{
    display: none;
}

.icon-botton.fonte1{
    display: flex;
}


/*Cabeçario icones*/

.icon{
    min-height: 2em;
    min-width: 2em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon-pag{
    min-height: 3.5em;
    min-width: 3.5em;
    background-image: url(../images/icon-pag.png);
}




.lista{
    position: relative;
    display: inline-block;
}

.lista-content {
    display: none;
    position: absolute;
    right: -200%;
    background-color: var(--fonte1);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1001;
    border-radius: 4px;
    overflow: hidden;
}

.lista-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    transition: background-color 0.3s;
}

.lista-content a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.lista:hover .lista-content
{
    display: block;
}




/* body */

.container{
    color: var(--fonte);
    width: 1300px;
    border-radius: 10px;
    background: var(--principal);
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 40px 30px 40px;
    border: var(--borda);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.486);
}

.cabecario-sessao{
    margin-top: 30px;
    border-bottom: var(--borda1);
    display: flex;
    justify-content:space-between;
}






/* footer */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 200px;
    background-color: var(--principal);
    border-top: var(--borda);
    color: var(--fonte);
}

footer h3{
    font-size: large;
}

footer a{
    text-decoration: none;
    color:var(--fonte);
}

footer a:hover{
    text-decoration: none;
    color:var(--fonte1);
}
.sublime{
    font-style: italic;
    color: var(--fonte1);
}


.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 80dvw;
    gap: 4%;
}

.footer-section{
    display: flex;
    flex-direction: column;
}

.footer-section li{
    list-style: none;
}

.links {
    display: flex;
    font-size: large;
    justify-content: space-around;
    padding-right: 20%;
    
}

.links a{
    display: flex;
    background-color: var(--fonte1);
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
}

.links a:hover{
    background-color: var(--fonte1);

}

.footer-section a{
    transition: 0.3s;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 50px;
    height: 50px;
    background-color: var(--terciario);
    color: white;
    border-radius: 50%;
    display: flex
;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: var(--sombra);
    opacity: 0.7;
    transition: opacity 0.3s;
    z-index: 100;
}

