{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 pt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Membros da Equipe</h1>
        <p class="lead">Membros cadastrados no sistema</p>
    </div>
    <a href="/membros/adicionar/" class="btn btn-primary mb-3">Adicionar Membro</a>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Nome</th>
                <th>Função</th>
                <th>Estúdio</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for membro in membros %}
            <tr>
                <td>{{ membro.nome }}</td>
                <td>{{ membro.funcao }}</td>
                <td>{{ membro.EstudioDesenvolvimento }}</td>
                <td>
                    <a href="/membros/editar/{{ membro.id }}/" class="btn btn-warning btn-sm">Editar</a>
                    <a href="/membros/excluir/{{ membro.id }}/" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}