{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 pt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Usuários do Sistema</h1>
        <p class="lead">Usuários com acesso ao sistema</p>
    </div>
    <a href="/usuarios/adicionar/" class="btn btn-primary mb-3">Adicionar Usuário</a>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Usuário</th>
                <th>Membro</th>
                <th>Perfil</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.membro }}</td>
                <td>{{ usuario.perfil }}</td>
                <td>
                    <a href="/usuarios/editar/{{ usuario.id }}/" class="btn btn-warning btn-sm">Editar</a>
                    <a href="/usuarios/excluir/{{ usuario.id }}/" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}